
@media screen and  (max-width: 1350px) {
    .header-text::before{
        position: relative;
        display: inline-block;
        left: -46px;
        top: 0;
    }
    .header-text::after{
        position: relative;
        display: inline-block;
        left: 58px;
        top: 0;
    }
    .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .grid a{
        margin: 0 auto;
    }
    .grid-item-news{
        margin-right: 0;
    }
}
@media screen and  (max-width: 1090px) {
    .menu-li{
        margin-left: 30px;
    }
    .btn{
        margin-left: 3px;
    }
    
}
@media screen and  (max-width: 930px){
    .burger-button-label{
        display: block;
        left: 1.44em;
        top: -1px;
    }
    .menu-li{
        margin-left: 25px;
        margin-top: 5px;
    }
    nav{
        display: flex;
        opacity: 0;
        background-color: #18303c;
        width: 100%;
        right: 0;
        margin-top: 27px;
        position: absolute;
        transition: all 0.6s;
    }
    .menu{
        display: inherit;
        margin: 5px auto 0 auto;
    }
    #burger-button:checked ~ nav{
        opacity: 1;
        
    }
    .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .grid a{
        margin: 0 auto;
    }
    .grid-item-news-position-text{
        margin-top: 108px;
        margin-left: 61px;
    }
    .grid-item-news-position,
    .grid-item-news-position ~ img,
    .grid-item-news-img{
        width: 350px;
    }
    .grid-item-news-position{
        bottom: 1px;
    }
    
}
@media screen and  (max-width: 800px){
    .grid-item-news-position-text{
        margin-top: 80px;
        margin-left: 31px;
    }
    .grid-item-news-position,
    .grid-item-news-position ~ img,
    .grid-item-news-img{
        width: 300px;
    }

}
@media screen and  (max-width: 697px){
    .menu-li{
        margin-left: 20px;
    }
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .grid-item-news-position,
    .grid-item-news-position ~ img,
    .grid-item-news-img{
        width: 416px;
    }
}
@media screen and  (max-width: 560px){
    .menu-li{
        margin-left: 10px;
        font-size: 10px;
    }
    .btn{
        font-size: 10px;
        padding: 5px 4px 23px 4px;
    }
}
@media screen and  (max-width: 460px){
    .menu-li{
        margin-left: 7px;
        font-size: 8px;
    }
    .burger-button-label{
        left: 0;
    }
    .btn{
        font-size: 10px;
        padding: 5px 11px 23px 12px;
        margin-left: 0;
    }
    .header-text{
        font-size: 35px;
    }
    .header-text::before{
        width: 14px;
        height: 10px;
        background-size: 100%;
        background-repeat: no-repeat;
        left: -21px;
    }
    .header-text::after{
        width: 14px;
        height: 10px;
        background-size: 100%;
        background-repeat: no-repeat;
        left: 21px;
    }
    .grid-item-news-position-data{
        font-size: 11px;
        padding: 3px 3px 3px 6px;
        width: 61px;
    }
    .grid-item-news-position-text{
        font-size: 15px;
        margin-top: 53px;
        margin-left: 31px;
    }
    .grid-item-news-position,
    .grid-item-news-position ~ img,
    .grid-item-news-img{
        width: 250px;
    }
}